pkgbase = xorg-discord-rpc-git
        pkgdesc = Discord Rich Presence client for Xorg (git version)
        pkgver = r54.1f525c7
        pkgrel = 1
        url = https://github.com/thelinuxpirate/xorg-discord-rpc
        arch = x86_64
        license = GPL-3.0-only
        license = LicenseRef-Discord-Game-SDK
        makedepends = cmake
        makedepends = git
        makedepends = wget
        makedepends = unzip
        depends = gcc-libs
        depends = libx11
        provides = xorg-discord-rpc
        conflicts = xorg-discord-rpc
        source = git+https://github.com/thelinuxpirate/xorg-discord-rpc.git
        source = https://dl-game-sdk.discordapp.net/2.5.6/discord_game_sdk.zip
        sha256sums = SKIP
        sha256sums = SKIP

pkgname = xorg-discord-rpc-git
